<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% block content %}


<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Booklets</title>
    <link href="{% static 'style1.css' %}"  rel="stylesheet">
</head>

<body>
<div class="container">

    <div class="row">
        <div class="session col-sm-5 mr-3 p-3">
            <table style="width:100%">
                <tr>
                    <th>Question:</th>
                    <th>Correct:</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Yes</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>No</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Yes</td>
                </tr>
            </table>
            <p>Total: 2/3</p>
        </div>
        <div class="session col-sm-5 ml-3 p-3 ">
            <table style="width:100%">
                <tr>
                    <th>Question:</th>
                    <th>Correct:</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Yes</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>No</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Yes</td>
                </tr>
            </table>
            <p>Total: 2/3</p>
        </div>

        <div class="session col-sm-5 ml-3 p-3 ">
            <table style="width:100%">
                <tr>
                    <th>Question:</th>
                    <th>Correct:</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Yes</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>No</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Yes</td>
                </tr>
            </table>
            <p>Total: 2/3</p>
        </div>

        <div class="session col-sm-5 ml-3 p-3 ">
            <table style="width:100%">
                <tr>
                    <th>Question:</th>
                    <th>Correct:</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Yes</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>No</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Yes</td>
                </tr>
            </table>
            <p>Total: 2/3</p>
        </div>

        <div class="session col-sm-5 ml-3 p-3 ">
            <table style="width:100%">
                <tr>
                    <th>Question:</th>
                    <th>Correct:</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Yes</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>No</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Yes</td>
                </tr>
            </table>
            <p>Total: 2/3</p>
        </div>

        <div class="session col-sm-5 ml-3 p-3 ">
            <table style="width:100%">
                <tr>
                    <th>Question:</th>
                    <th>Correct:</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Yes</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>No</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Yes</td>
                </tr>
            </table>
            <p>Total: 2/3</p>
        </div>
    </div>
</div>
</body>
{% endblock %}
</html>