<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% block content %}


<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Booklets</title>
    <link href="{% static 'style1.css' %}"  rel="stylesheet">
</head>
<body>
<div class="filter-panel" >
    <form>
        <!-- group into panel div -->
        <h4>Filter By:</h4>
        <div class="form-group" >
            <label for="student_id">Student ID</label>
            <input type="number" class="form-control" id="student_id" placeholder="Enter student ID #">
        </div>
        <div class="form-group">
            <label for="session_id">Student ID</label>
            <input type="number" class="form-control" id="session_id" placeholder="Enter session ID #">
        </div>
        <button type="submit" class="btn btn-primary">Filter</button>
    </form>
</div>

</body>
{% endblock %}
</html>