{% extends 'base.html' %}
{% load static %}
{% block content %}

<html>
<head>
    <meta charset="UTF-8">
    <title>Gradebook</title>
    <link href="{% static 'style1.css' %}"  rel="stylesheet">
</head>

<body>

<div class = "container">
    <div class = "filter-panel filter-panel-record" style="width:100%; margin-bottom: 10px;">
        <form class = "md-form mr-auto mb-4" method="GET" action="{% url 'recording' %}">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="student_id">Student ID</label>
                    <input type="number" class="form-control" id="student_id" name ="student_id" placeholder="Enter student ID #">
                </div>
                <div class="form-group col-md-6">
                    <label for="month">Date</label>
                    <input id="month"  class="form-control" name="month" type="month"/>
                </div>

                <button type="submit" class="btn btn-primary">Filter</button>
                <a href="/" class="btn btn-danger">Reset</a>


            </div>
        </form>
    </div>
    <br/>

    <p>
        Showing
        {% if student_id == "" %}
        all students
        {% else %}
        Gradebook for student <b>{{ student_id }}</b>
        {% endif %}
    </p>




    <br/>
    {% for f in filtered_sessions %}
    <p>{{f.timestamp}}</p>
    {% endfor %}
    <table class="table table-bordered">
        <thead>
        <tr>
            <th scope="col">Level</th>
            <th scope="col">C/H</th>
            <th scope="col">Booklet</th>
            <th scope="col">Time</th>
            <th scope="col" colspan="10" >Scores for Page: </th>
            <th scope="col">Comments</th>
            <th scope="col">Edit</th>
        </tr>
        <tr>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col">1</th>
            <th scope="col">2</th>
            <th scope="col">3</th>
            <th scope="col">4</th>
            <th scope="col">5</th>
            <th scope="col">6</th>
            <th scope="col">7</th>
            <th scope="col">8</th>
            <th scope="col">9</th>
            <th scope="col">10</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {% for booklet, marks in booklet_info %}
        <tr>
            <td>{{booklet.page_range.2}}</td>
            <td>{{booklet.class_or_homework}}</td>
            <td><a href="{% url 'booklet' booklet.id %}">{{booklet.page_range.0}} - {{booklet.page_range.1}}</a></td>
            <th scope="col">{{booklet.student_time_range}}</th>
            <td>{{marks.0}}</td>
            <td>{{marks.1}}</td>
            <td>{{marks.2}}</td>
            <td>{{marks.3}}</td>
            <td>{{marks.4}}</td>
            <td>{{marks.5}}</td>
            <td>{{marks.6}}</td>
            <td>{{marks.7}}</td>
            <td>{{marks.8}}</td>
            <td>{{marks.9}}</td>
            <th scope="col">{{booklet.comments}}</th>
            <th><form action = "{% url 'edit' %}" method = "GET">
                {% csrf_token %}
                 <button type="submit" class="btn btn-primary" value = {{booklet.id}} name = booklet>Edit</button>
            </form>

            </th>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <!--<form class = "md-form mr-auto mb-4" method="POST" action="{% url 'edit' %}">
                        {% csrf_token %}
                        {{mod.as_p}}

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="save btn btn-primary">Save changes</button>
                        </div>
                    </form>-->

                </div>

            </div>
        </div>
    </div>


    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#jexampleModal">
        Add new booklet
    </button>
    <div class="modal fade" id="jexampleModal" tabindex="-1" role="dialog" aria-labelledby="jexampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="jexampleModalLabel">Add Booklet</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <form class = "md-form mr-auto mb-4" method="POST" action="{% url 'recording' %}">
                        {% csrf_token %}
                        {{session_form}}
                        {{booklet_form}}
                        {{formset.as_p}}
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="save btn btn-primary">Save changes</button>
                        </div>
                    </form>

                </div>

            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add Booklet</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <form class = "md-form mr-auto mb-4" method="POST" action="{% url 'recording' %}">
                        {% csrf_token %}
                        <!--{{session_form}}
                        {{booklet_form}}-->
                        {{mod}}

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="save btn btn-primary">Save changes</button>
                        </div>
                    </form>

                </div>

            </div>
        </div>
    </div>
</div>
</body>
{% endblock %}
</html>